html {
    scroll-behavior: smooth;
}

body {
    background-color: #f7f5f0ff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    
    
}

#vision, #perspectives, #villas, #island {
    scroll-behavior: smooth;
}



/* @media screen and (min-width:1280px) {
} */


     /* NAVIGATION */

     nav {
      position: fixed;
      margin: 20px 0;
      display: inline-block;
      height: 100px;
      width: 100%;
      text-align: center;
      z-index: 2;
     
   }

   .menu-items li {
      display: inline-block;
      margin-right: 80px;
 
   }

 
   .menu-items #inquire {
      position: absolute;
      right: 0%;
   }

   .menu-items li a, #inquire{
      text-decoration: none;
      color: white;
      font-size: 0.9em;
      text-transform: uppercase;
      
   }

   .menu-items li a{
      transition: all 1s ease;
   }

   .menu-items li a:hover {
      text-decoration:dotted;
   }

   
   .scrolled .menu-items li a, #inquire {
      color: black;
      transition: color 1000ms ease;
   }

  header{
    display: block;
    margin: 0;
    position: relative;
    background: url("./assets/images/header2.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;  
  }

  .image-color {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 60%;
  }

  .title {
      text-align: center;
      position: absolute;
      left: 15%;
      top: 6%;
      width: 70%;
      color: white;
  }

  .title h1 {
      font-family: "Cinzel Decorative", serif;
      font-weight: 500;
      font-size: 6.5em;
      text-align: center;
      line-height: 95px; 
      font-stretch: expanded;
      letter-spacing: 7px;
      margin-bottom: 5px;
      
  }

  .title p {
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
      width: 60%;
      font-weight: 500;
      font-size: 1.4em;
      line-height: 25px;
      letter-spacing: 2px;
  }

  .callUs {
      position: absolute;
      display: flex;
      flex-wrap: nowrap;
      bottom: 6%;
      left: 3%;
      color: white;
      text-transform: uppercase;
  }

  .callUs #callUs-title {
      margin-right: 30px;
      font-size: 0.75em;
  }

  .callUs svg {
     width: 0.8em;
     height: 0.8em;
     display: inline-block;
     margin-right: 5px;
  }

  .callUs p {
      display: inline-block;
  }

  .callUs #call-info {
    
      font-size: 0.65em;
  }




  /* VISION SECTION ------ */

  .vision {
      display: grid;
      grid-template-columns: 0.8fr  0.5fr 1fr ;
      grid-template-rows: 1fr 1fr;
      padding: 10vh 0 0 40px;
      height: 90vh;
      /* border-bottom: 1px grey solid; */
      
  }

  .vision-main {
      grid-area: 1 / 1 / 3 / 1;
      position: relative;
      
  }

 

  .vision-main h2 {
      width: 90%;
      font-family: "Cinzel Decorative", serif;
      line-height: 30px;
      text-transform: lowercase;
      font-size: 2.1em;
      font-weight: 500;
      margin-bottom: 10px;
  }

  .vision-main span {
      color: #c78d58ff;
  }
  .vision-main p {
      text-transform: uppercase;
      font-size: 0.8em;
  }

  .vision-main-bottom {
      width: 55%;
      position: absolute;
      bottom: 5%;
  }

  .vision-main-bottom img {
      width: 100%;
  }

  .vision-main #vision-desc {

      font-size: 0.8em;
  }

 

  .vision-overview-top {
      grid-area: 1 / 2 / 2 / 3;
      border-left: 1px grey solid;
      padding-left: 20px;
  
  }

  .vision-overview-top p{
      text-transform: uppercase;
  }

  .vision-overview-top #overview-left {
      line-height: 14px;
      display: inline-block;
      font-size: 0.7em;
      margin-right: 21%;
  }

  .vision-overview-top #overview-right {
      line-height: 14px;
      display: inline-block;
      text-align: end;
      font-size: 0.7em;
      margin: 0;
  }

  .vision-overview-bottom {
      padding-bottom: 0;
      grid-area: 2 / 2 / 2 / 2;
      border-left: 1px grey solid;
      padding-left: 20px;
  }

  .vision-overview-bottom h2 {
      width: 80%;
      font-family: "Cinzel Decorative", serif;
      text-transform: lowercase;
      margin: 0 left;
      font-weight: 500;
      line-height: 40px;
      font-size: 2.5em;
  }

  .vision-overview-bottom p {
      font-size: 0.8em;
      padding-top: 100px;
      text-transform: uppercase;
  }

  .vision-button {
      margin: 0 auto;
      padding-bottom: 50px;
  }

  .vision-button p{
      display: inline-block;
      color: #c78d58ff;
      margin: 0 auto;
      font-size: 0.9em;
  }

  .vision-button input {
      margin-left: 10px;
      display: inline-block;
      background-color: #c78d58ff;
      border: none;
      border-radius: 50%;
      text-decoration: none;
      text-align: center;
      padding: 13px;
      color: white;
      transition: all 1s;
      cursor: pointer;
  }

  .vision-button input:hover {
      transform: scale(1.3);
      background-color: inherit;
      color: #c78d58ff;
      border-color: #c78d58ff;
      font-size: 1.2em;
  }


  /* Project  */

  .project-overview {
      grid-area: 1 / 3 / 2 / 3;
      position: relative; 
      
  }

  .project-overview-image {
      position: absolute;
      background: url("./assets/images/vision2.jpg");
      height: 90vh;
      width: 100%;
      /* background-position: center; */
      background-size: cover;
      /* position: absolute;
      top: 40%; */
      transition: all 700ms;
  }

  .project-overview-image:hover {
      transform: scale(1.05);
      cursor:cell;
  }

  /* .project-overview-image video {
      height: 50vh;
  } */

  .project-overview p {
      width: 80%;
      margin: 0 auto;
      margin-top: 10px;
      text-align: right;
      text-transform: uppercase;
      font-size: 0.8em;
  }


  /* Features Section ----- */

  .features {
      display: block;
      
  }

      /* Fetures top -- */
  .features-top{
      padding: 10vh 40px 0 40px;
      height: 30vh;
      margin-bottom: 10vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: relative;
  }

  .features-top-left {
      position: absolute;
      top: 20%;
      left: 2%;
      grid-column: 1;
  }

  .features-top-left p {
      text-transform: uppercase;
      font-size: 0.7em;
  }

  .features-top-left h2{
      font-family: "Cinzel Decorative", serif;
      text-transform: lowercase;
      font-weight: 500;
      font-size: 2.5em;
  }
 
  .features-top-right {
      position: absolute;
      top: 50%;
      grid-column: 2;
  }

  .features-top-right p{
      text-transform: uppercase;
      width: 80%;
      font-size: 0.9em;
  }


  /* Features main --- */

  .features-main {
      padding: 10vh 40px 10vh 40px;
      display: grid;
      grid-template-columns: 0.3fr 1fr 1fr 1fr 0.3fr;
      height: 30vh;
  }

  #features-item1 {
      position: relative;
      grid-column: 2 ;
      border-right: 1px grey solid;
  }



  #features-item2 {
      position: relative;
      grid-column: 3 ;
      text-align: center; 
  }

  #features-item2 h3{
      margin-top: 10%;
  }

  #features-item3 {
      position: relative;
      grid-column: 4 ;
      text-align: end;
      border-left: 1px grey solid;
  }

  #features-item3 h3 {
      margin-top: 30%;
  }



  .features-main h3 {
      font-family: "Cinzel Decorative", serif;
      
      font-weight: 700;
      font-size: 4.5em;
      margin: 0;
  }


  .features-main p {
      text-transform: uppercase;
      font-size: 0.7em;
  
      margin: 0;
  }

  
  /* VILLAS SECTION -----------*/

  .villas {
      height: 85vh;
      padding: 10vh 40px 5vh 40px;
      margin: 0 auto;
      position: relative;
      /* display: flex;
      flex-wrap: wrap;
      justify-content:center;
      align-items: end; */
  }

  .villas-heading {
      justify-content: start;
      text-align: left;
      width: 80%;
      margin-left: 2%;
  }
  .villas-heading span {
      color: #c78d58ff;
  }

  .villas-heading p {
      text-transform: uppercase;
      font-size: 0.7em;
      margin: 0;
  }

  .villas-heading h2 {
      font-family: "Cinzel Decorative", serif;
      text-transform: lowercase;
      font-weight: 500;
      font-size: 2.5em;
  }

  .swiper {
      position: relative;
      width: 70%;
      height: 75%;
     
    }

    .swiper-pagination {
      color: black;
    }

    .swiper-button-prev, .swiper-button-next {
      border: 1px #c78d58ff solid;
      color: #c78d58ff;
      width: 10px;
      height: 10px;
      padding: 30px;
      border-radius: 50%;
      transition: all 700ms;
    }

    .swiper-button-next:hover {
      color: white;
      background-color: #c78d58ff;
      transform: scale(1.2);
    }

    .swiper-buttons {
      position: absolute;
      bottom: 15%;
      right: 8%;
    }

    :root {
      --swiper-theme-color:#c78d58ff;
    }

 

    #villa1 {
      height: 100%;
      position: relative;
      background: url("./assets/images/villa1.jpg");
      background-size: cover;
      background-position: center center;
      cursor: pointer;
      transition: all 500ms ease;
    }

    #villa2 {
      height: 100%;
      background: url("./assets/images/villa2.jpg");
      background-size: cover;
      background-position: center center;
      cursor: pointer;
      transition: all 500ms ease;
    }


    #villa1:hover, #villa2:hover {
      border-top-right-radius: 20%;
      /* border-top-left-radius: 15%; */
      transform: scale(1.05);
    }

    .swiper-desc {
      position: absolute;
      color: white;
      bottom: 10%;
      z-index: 10;
      width: 100%;
    }

    .swiper-desc h3 {
      font-family: "Cinzel Decorative", serif;
      text-transform: lowercase;
      font-weight: 600;
      font-size: 1.6em;
      margin: 0 0 0 5%;
    }

    .swiper-desc p {
      margin-left: 5%;
      text-transform: uppercase;
    }

    .swiper-desc hr {
      font-size: 0.8em;
      width: 90%;
      margin: 0 auto;
    }


    /* ISLAND SECTION ------ */

    .island {
      position: relative;
      padding: 10vh 40px 10vh 40px;
      height: 80vh;
      background-color: #c78d58ff;
    }

    .island p {
      font-size: 0.7em;
      text-align: center;
      color: white ;
      text-transform: uppercase;
      margin-top: 10px;
    }

    .island-image-container {
      position: absolute;
      top: 25%;
      left: 25%;
    }

    .island-image-container video {
      width: 50vw;
      height: 50vh;
      /* background: url("./assets/images/island.jpg"); */
      background-size: cover;
      background-position: bottom ;
    }

    .island-heading {
      width: 80%;
      position: absolute;
      margin: 0 auto;
      left: 10%;
      top: 5%;
    }

    #heading-top {
      padding-top: ;
    }

    #heading-bottom {
      padding-top: 1%;
    }


    .island-heading h2 {
      text-align: center;
      font-weight: 400;
      font-size: 7rem;
      font-family: "Cinzel Decorative", serif;
      text-transform: lowercase;
      color: white;
      line-height: 110px;
    }


    .island-image-container p {
      width: 45vw;
      margin: 0 auto;
      margin-top: 10px;
      text-transform: uppercase;
      font-size: 0.7em;
      text-align: center;
      color: white ;
    }

    .island-image:hover {
      transform: scale(2)
    }

    /* LOCATION SECTION  */

    .location {
      height: 100vh;
      padding: 0 0 0 40px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }


    /* left side */

    .grid-left {
      grid-column: 1;
      position:relative;
    }

    .grid-left .location-info {
      position: absolute;
      width: 40%;
      text-align: center;
      left: 25%;
      top: 30%;
    }

    .location-info h2 {
      font-family: "Cinzel Decorative", serif;
      text-transform: lowercase;
      font-weight: 400;
      font-size: 3em;
      line-height: 40px ;
    }

    .location-info span {
      color: #c78d58ff;
    }

    .location-info p {
      margin: 0 auto;
      /* width: 100%; */
      text-transform: uppercase;
      font-size: 0.7em;
    }

    .location-info #location-desc {
      font-size: 0.8em;
    }

    .location-button {
      position: absolute;
      width: 40%;
      bottom: 10%;
      left: 35%;
    }

    .location-button p {
      display: inline-block;
      text-transform: uppercase;
      font-size: 0.8em;
      color: #c78d58ff;
    }

    .location-button input {
      margin-left: 10px;
      display: inline-block;
      background-color: #c78d58ff;
      border: none;
      border-radius: 50%;
      text-decoration: none;
      text-align: center;
      padding: 13px;
      color: white;
      transition: all 1s;
      cursor: pointer;
    }

    .location-button input:hover {
      transform: scale(1.3);
      background-color: inherit;
      color: #c78d58ff;
      border-color: #c78d58ff;
      font-size: 1.2em;
    }


    /* right side */

    .grid-right {
      grid-column: 2;
    }

    .grid-right .location-image {
      background: url("./assets/images/location.jpg");
      background-size: cover;
      background-position: center;
      height: 100%;
    }
  









/* ----- L SCREENS ------- */

@media screen and (max-width: 1024px)	{

  nav {
    position: fixed;
    margin: 20px 0;
    display: inline-block;
    height: 100px;
    width: 100%;
    text-align: center;
    z-index: 2;
  }
        
  .menu-items li {
    display: inline-block;
    margin-right: 40px;
        
  }
        
        
  .menu-items #inquire {
    position: absolute;
    right: 0%;
  }
        
  .menu-items li a, #inquire{
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    text-transform: uppercase;
  }


  /* header */

  .title {
    text-align: center;
    position: absolute;
    left: 15%;
    top: 6%;
    width: 70%;
    color: white;
}
        
  .title h1 {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-size: 5em;
    text-align: center;
    line-height: 70px; 
    font-stretch: expanded;
    letter-spacing: 7px;
    margin-bottom: 5px;       
  }

  .title p {
    width: 60%;
    font-size: 1em;
    line-height: 20px;
  }


  /* vision */

  .vision-main p {
    font-size: 0.6em;
  }
  
  .vision-main h2 {
    margin-top: 30px;
    font-size: 1.4em;
    line-height: 20px;
  }

  .vision-main-bottom {
    width: 80%;
    font-size: 0.8em;
  }

  .vision-overview-top {
    padding-left: 10px;
  }

  .vision-overview-top #overview-left {
    font-size: 0.6em;
    font-weight: 700;
    margin-right: 0;
  }

  .vision-overview-top #overview-right {
    font-size: 0.6em;
    text-align: right;
    margin-left: 20px;
  }

  .vision-overview-bottom {
    padding-left: 10px;
  }

  .vision-overview-bottom p{
    font-size: 0.7em;
  }
  .vision-overview-bottom #overview-naming {
    font-size: 0.6em;
  }
  .vision-overview-bottom h2 {
    font-size: 1.7em;
    line-height: 25px;
  }

  .vision-button input {
    padding: 10px;
  }

  /* Features */

  .features-top-right {
    font-size: 0.8em;
    width: 80%;
    text-align: right;
    top: 60%;
    right: 5%;
  }


  .features-main h3 {
    font-size: 3em;
  }

  /* Island */

  .island-heading h2 {
    margin-top: 120px;
    font-size: 5em;
    line-height: 70px;
  }

  .island-image-container p {
    margin: 0 auto;
    font-size: 0.6em;
  }

  /* Location */

  .location-info {
    width: 45%;
  }

  .location-info h2 {
    font-size: 2.2em;
    margin-bottom: 10px;
  }

  .location-info #location-desc {
    font-size: 0.55em;
    color: grey;
  }

  .location-button {
    bottom: 20%;
  }

  .location-button input {
    padding: 10px;
  }

  .location-button p {
    font-size: 0.7em;
  }
}



/* ----- iPads -----*/

@media (max-width: 768px)	{

  .wrap {
    max-width: 768px;
  }

  nav {
    position: fixed;
    margin: 20px 0;
    display: inline-block;
    height: 100px;
    text-align: center;
    z-index: 2;
  }


  .menu-items li {
    display:none;
  }

  .menu-items #inquire {
    display: inline-block;
   
    font-size: 1em;
        
  }

  /* header  */

  .title {
    top: 15%;
    left: 12%;
    width: 76%;
  }
  
  .title h1 {
    font-size: 4em;
    line-height: 50px;
  }

  .title p {
    margin-top: 10px;
    width: 70%;
    font-size: 1.2em;
    line-height: 22px;
  }

  .callUs {
    width: 95%;
  }

  .callUs #callUs-title {
    width: 30%;
    margin-left: 10px;
    margin-right: 30%;
    font-size: 1.2em;
  }
  
  .callUs #call-info {
    font-size: 0.9em;
  }


  /* vision */

  .vision {
    padding: 5vh 2% 2vh 2% ;
    display: block;
    min-height: 330vh;
    position: relative;
  }

  .vision-main {
    position: relative;
    padding-bottom: 40px;
    border-bottom: 1px grey solid;
  }

  .vision-main h2 {
    width: 95%;
    font-size: 2.5em;
    line-height: 40px;
    margin-bottom: 40px;
  }

  .vision-main p {
    font-size: 1em;
    line-height: 22px;
  }

  .vision-main-bottom {
    position: relative;
    width: 100%;
  }

  .vision-main-bottom #vision-desc {
    font-size: 1.3em;
  }

  /* vision-overview-top*/

  .vision-overview-top {
    padding: 20px 10px 0 10px;
    display: flex;
    border: none;
    justify-content: space-between;
  }

  .vision-overview-top #overview-left {
    font-size: 1em;
    line-height: 20px;
    margin: 0;
    padding: 10px;
    font-weight: 500;
  }

  .vision-overview-top #overview-right {
    font-size: 1em;
    line-height: 20px;
    margin: 0;
    padding: 10px;
  }
  

  /* vision-overview-bottom */

  .vision-overview-bottom {
    border: none;
  }
  .vision-overview-bottom h2 {
    margin: 25px 0 10px 0 ;
    font-size: 3.5em;
    line-height: 50px;
  }

  .vision-overview-bottom #overview-naming {
    padding-top: 50px;
    font-size: 1.2em;
  }

  .vision-overview-bottom .vision-button {
    display: flex;
    padding-top: 50px;
    width: 100%;
  }

  .vision-overview-bottom .vision-button input {
    padding: 30px;
    margin-right: 10px;
  }

  .vision-overview-bottom .vision-button p {
    padding-top: 30px;
    font-size: 1.2em;
    margin-left: 0;
    align-items: center;
  }

  .project-overview {
    position: relative;
  }

  .project-overview-image {
    background-position: center;
  }

  /* ---- FEATURES ---- */

  .features {
    display: block;
    height: 190vh;
    
  }

  .features-top {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features-top-left {
    align-items: center;
    position: relative;
  }

  .features-top-left p {
   display: none;
  }

  .features-top-left h2 {
    margin: 0 auto;
    text-align: start;
    font-size: 3.5em;
  }

  .features-top-right {
    position: static;
    margin: 100px 0 0 0;
    width: 100%;
  }

  .features-top-right p {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    font-size: 1.2em;
  }

  /* features-main */

  .features-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  #features-item1, #features-item2, #features-item3{
    border: none;
    margin: 30px 0 30px 0;
    font-size: 1.6em;
    line-height: 100px;
  }

  #features-item1 h3, #features-item2 h3, #features-item3 h3 {
    color: #c78d58ff;
  }



  /* ---- VILLAS ---- */

  .villas {
    display: block;
    max-height: 90vh;
  }

  .villas-heading h2 {
    font-size: 3.5em;
    line-height: 50px;
  }

  .villas-heading p {
    font-size: 1em;
  }

  .swiper {
    height: 55%;
    width: 75%;
  }

  .swiper-desc {
    bottom: 6%;
  }

  .swiper-desc h3{
    font-size: 1.2em;
  }

  .swiper-desc p {
    font-size: 0.8em;
  }

  .swiper-buttons {
    right: 2%;
    bottom: 37%;
  }

  /* ----- ISLAND ----- */

  .island {
    padding: 0;
    min-height: 130vh;
  }

  .island p {
    padding-top: 80px;
    font-size: 1em;
  }

  .island-image-container video{
    width: 100vw;  
  }

  .island-image-container {
    top: 25%;
    left: 0%;
  }

  .island-image-container p {
    margin-top: 80px;
    width: 90%;
    font-size: 1em;
    padding: 0;
  }

  .island-heading {
    width: 90%;
    left: 5%;
    top: 9%;
  }

  .island-heading #heading-top {
    margin-top: 50px;
  }

  .island-heading #heading-bottom {
    margin-top: 270px;
  }

  .island-heading h2 {
    font-size: 4em;
    line-height: 60px;
  }

  /* ---- LOCATION ----- */

  .location {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    height: 180vh;
  }

  .grid-left {
    padding: 0;
    display: block;
    position: relative;
    height: 80%;
    width: 100%;
  }

  .grid-left .location-info {
    padding-top: 50px;
    width: 60%;
    display: block;
    position: static;
    margin: 0 auto;
  }

  .grid-left .location-info p {
    font-size: 1em;
  }

  .grid-left .location-info h2 {
    font-size: 3.5em;
    line-height: 60px;
    margin: 50px 0 ;
  }

  .grid-left .location-info #location-desc {
    font-size: 1em;
  }

  .grid-left .location-button {
    position: static;
    text-align: center;
    margin: 70px auto;
  }

  .grid-left .location-button p {
    font-size: 1em;
  }

  .grid-left .location-button input {
    padding: 30px;
  }

  .grid-right {
    display: block;
    position: relative;
    height: 60%;
    width: 100%;
    background-color: #c78d58ff;
  }

}

@media (max-width:640px) {

  .island-heading {
    width: 100%;
    left: 0%;
  }

}

@media (min-width:320px) and (max-width:440px) {


  /* NAVIGATION */

  nav {
    position: fixed;
    margin: 20px 0;
    display: block;
    height: 100px;
    max-width: 320px;
    text-align: center;
    z-index: 2;
   
 }

 .menu-items li {
    display: none;
 }

 .menu-items #inquire {
     margin: 0 auto;
    position: relative;
 }

  /* HEADER */

  header {
    max-width: 100%;
  }

  header .title {
    width: 90%;
    left: 5%;
    margin: 0 auto;
  }

  header .title h1 {
    max-width: 100%;
    font-size: 2em;
    line-height: 32px;
    margin: 20px auto;
  }

  header .title p {
    font-size: 0.8em;
    width: 100%;
    margin: 20px auto;
    line-height: 15px;
  }

  .callUs {
    bottom: 10%;
  }

  .callUs #callUs-title {
    font-size: 0.7em;
    width: 50%;
    margin: 0 auto;
  }

  .callUs #call-info {
    width: 50%;
    font-size: 0.6em;
  }


  /* ---- VISION ----  */

  .vision {
    min-height: 170vh;
  }

  .vision-main h2 {
    font-size: 1.7em;
    line-height: 25px;
  }

  .vision-main p {
    font-size: 0.7em;
  }

  .vision-main-bottom #vision-desc {
    font-size: 0.9em;
    line-height: 15px;
  }

  /* .vision-main-button {
    border-bottom: 1px dotted grey;
  } */


  /* vision-overview */

  .vision-overview-top {
    font-size: 0.7em;
  }

  .vision-overview-top #overview-left, .vision-overview-top #overview-right {
    line-height: 15px;
    padding: 0;
  }

  .vision-overview-bottom {
    max-width: 100%;
    display: block;
  }

  .vision-overview-bottom #overview-naming {
    padding-top: 40px;
    font-size: 0.7em;
  }

  .vision-overview-bottom h2 {
    font-size: 2.2em;
    line-height: 30px;
  }

  .vision-overview-bottom .vision-button {
    padding: 30px 0;
  }

  .vision-overview-bottom .vision-button p {
    font-size: 0.7em;
    padding-top: 13px;
  }

  .vision-overview-bottom .vision-button input {
    padding: 13px;
  }

  .project-overview-image{
    height: 50vh;
  }

  .features {
    display: block;
    position: relative;
    padding-top: 10px;
    height: 140vh;
  }

  .features-top {
    padding-top: 20px;
    display: block;
    position: relative;
  }

  .features-top-left h2 {
    font-size: 2em;
    width: 70%;
    margin: 20px 20px;
  }

  .features-top-right p {
    width: 80%;
    font-size: 0.8em;
  }

  .features-main {
    padding: 30px ;
  }

  .features-main h3{

    font-size: 2.5em;
  }

  #features-item1, #features-item2, #features-item3 {
    margin-top: 50px;
  }

  #features-item1 p, #features-item2 p, #features-item3 p{
    font-size: 0.6em;
    line-height: 20px;
  }


  /* --- VILALS ---- */

  .villas {
    display: block;
    position: relative;
    padding: 10px;
    height: 70vh;
  }

  .villas-heading {
    position: relative;
    width: 100%;
  }

  .villas-heading p {
    font-size: 0.7em;
  }

  .villas-heading h2 {
    font-size: 2em;
    line-height: 30px;
    margin: 50px auto;
  }

  .swiper {
    width: 100%;
  }

  .swiper-buttons {
    display: none;
  }


  /* --- THE ISLAND --- */
 
  .island {
    min-height: 50vh;
    display: block;
    position: relative;
  }

  .island p {
    padding-top: 50px;
    margin-bottom: 0;
    font-size: 0.7em;
  }

  .island-image-container {
    top: 25%;
    padding: 0;
    margin: 0 auto;
  }

  .island-image-container video{
    height: auto;
    margin-left: 5%;
    width: 90%;
    left: 5%;
    
  }

  .island-image-container p {
    font-size: 0.7em;
    padding-top: 80px;
    margin: 0 auto;
    
  }

  .island-heading {
    top: 19%;
  }

  .island-heading h2 {
    font-size: 2.2em;
    line-height: 30px;
    margin: 0;
  }

  .island-heading #heading-top {
    margin: 0;
  }

  .island-heading #heading-bottom {
    margin-top: 130px;
  }


  /* ---LOCATION --- */

  .location {
    height: 120vh;
  }

  .grid-left {
    height: auto;
  }

  .grid-left .location-info {
    width: 100%;
  }

  .grid-left .location-info p {
    font-size: 0.7em;
  }

  .grid-left .location-info h2 {
    margin: 50px auto;
    font-size: 2.4em;
    line-height: 35px;
    width: 80%;
  }

  .grid-left .location-info #location-desc {
    width: 80%;
    font-size: 0.8em;
  }

  .grid-left .location-button {
    width: 60%;
  }

  .grid-left .location-button p {
    font-size: 0.8em;
  }

  .grid-left .location-button input {
    padding: 15px;
  }

  .grid-right {
   
  }

}




/*------ 2XL SCREENS ------*/
@media (min-width:1660px) {

    header .title h1 {
      font-size: 8em;
      line-height: 120px;
    }

    .island-heading h2 {
        margin-top: 130px;
        font-size: 9rem;
      }
      #heading-bottom {
        padding-top: 3%;
      }

}


